<% @question.errors.full_messages.join(", ") %>
<%= simple_form_for @question do |f| %>
  <!-- <div class="form-group">
    <%# f.label :title %>
    <%# f.text_field :title, class:"form-control" %>
  </div> -->
  <!-- <div class="form-group">
    <%# f.label :body %>
    <%# f.text_area :body, class:"form-control" %>
  </div> -->
  <%= f.input :title %>
  <%= f.input :body %>
  <%= f.input :image %>
  <!-- <div> -->
    <%# f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>
    <%# f.collection_select(:tag_ids, Tag.all, :id, :name, {}, {multiple: true, class: 'chosen-select'}) %>
    <%# can use f.collection_select for drop down option  %>
    <div class="form-group">
    <%= f.collection_select(:tag_ids, Tag.all, :id, :name,
                            {},
                            { multiple: true, class: 'chosen-select form-control' })%>
    </div>
  <!-- </div> -->
  <div class="form-group">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end  %>
